.cross {
    display: none;
}

.list:hover .cross {
    display: block;
}

.check:hover {
    /* border-color: hsl(220, 98%, 61%); */
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border: 4px solid transparent;

}