

.cross {
    display: none;
}

.list:hover .cross {
    display: block;
}

.light-control p:hover{
    color: var(--light-900);
    font-weight: 700;
}

.dark-control p:hover{
    color:var(--dark-100);
    font-weight: 700;

}